@charset "utf-8";

/* レスポンジブ対応 */
.pc { display:block; }
.sp { display:none; }
@media screen and (max-width:750px) {
	.pc{display:none;}
	.sp{display:block;}
}

#typecheck {
  	min-width:750px;
  	width:auto;
  	max-width:1400px;
  	height:935px;
	background:url(../images/bg.jpg) center top no-repeat;
	overflow:hidden;
	margin:0 auto;
	left: 20%
}

/* 診断開始以外の内容非表示 */
.question, .result {
	display: none;
}
.btn:hover {
	cursor: hand;
	cursor: pointer;
}

.section .pc {
	margin:0 auto;
	width: 805px;
	height: 605px;
	position: relative;
	top: 100px;
}

#start .pc {
	background:url(../images/bg_frame1.png) center top no-repeat;
}
#start .pc .btn-start {
	position: absolute;
    float: right;
    top: 400px;
    right: 50px;
}

.question .pc {
	background:url(../images/bg_frame2.png) center top no-repeat;
}
.question .pc .btn-restart {
	position: absolute;
	top: 545px;
	left: 30px;
}
.question .pc .question-num {
	text-align: center;
 	font-size: 34px;
  	padding-top: 60px;
  	margin-bottom: 16px;
}
.question .pc .question-title {
	position: absolute;
	top: 100px;
	left: 10px;
}
.question .pc .question-answer {
	position: absolute;
    top: 280px;
    left: 12%;
}
.question .pc .question-answer img {
	margin: 25px;
}
.result .pc {
	height: 782px;
	background:url(../images/bg_frame3.png) center top no-repeat;
}
.result .pc .check-result {
	position: absolute;
	top: 60px;
	left: 100px;
}
.result .pc .status {
	position: absolute;
	top: 150px;
	left: 88px;
}
.result .pc .advice {
	position: absolute;
	top: 300px;
	left: 85px;
}
.result .pc .goods {
	position: absolute;
	top: 480px;
	left: 100px;
}
