@charset "utf-8";
body{
	margin: 0px;
}
/* レスポンジブ対応 */
.pc { display:block; }
.sp { display:none; }
@media screen and (max-width:750px) {
	.pc{display:none;}
	.sp{display:block;}
}

#typecheck {
  	min-width:750px;
  	width:auto;
  	/*max-width:1400px;*/
  	height:935px;
	background:url(../images/sp/bg.png) center top repeat;
	overflow:hidden;
	margin:0 auto;
	left: 20%;
}

/* 診断開始以外の内容非表示 */
.question, .result {
	display: none;
}
.btn:hover {
	cursor: hand;
	cursor: pointer;
}
.btn-answer:hover {
	opacity: 1;
    box-shadow: 0px 0px 0px 0px;
    background-color: white;
    top: 0px;
    position: relative;
}
.btn-answer {
	opacity: 0.8;
    box-shadow: 5px 5px 5px 2px grey;
    background-color: white;
    top: -3px;
    position: relative;
}
.btn-restart:hover,.btn-other:hover {
	opacity: 0.8;
}

/** PC版 **/
@media not screen , (min-width: 751px) {
	.section {
		margin:0 auto;
		width: 805px;
		height: 605px;
		position: relative;
		top: 100px;
	}

	.start {
		background:url(../images/bg_frame1.png) center top no-repeat;
	}
	.start .btn-start {
		position: absolute;
	    float: right;
	    top: 400px;
	    right: 50px;
	}
	.question {
		background:url(../images/bg_frame2.png) center top no-repeat;
	}
	.question .btn-restart {
		position: absolute;
		top: 545px;
		left: 30px;
	}
	.question .question-num {
		text-align: center;
	 	font-size: 34px;
	  	padding-top: 60px;
	  	margin-bottom: 16px;
	}
	.question .question-title {
		position: absolute;
		top: 100px;
		left: 10px;
	}
	.question .question-answer {
		position: absolute;
	    top: 280px;
	    left: 12%;
	}
	.question .question-answer img {
		margin: 25px;
	}
	.result {
		height: 782px;
		background:url(../images/bg_frame3.png) center top no-repeat;
	}
	.result .check-result {
		position: absolute;
		top: 60px;
		left: 100px;
	}
	.result .status {
		position: absolute;
		top: 140px;
		left: 88px;
	}
	.result .advice {
		position: absolute;
		top: 295px;
		left: 64px;
	}
	.result .btn-buy {
		top: 660px;
	    position: absolute;
	    left: 34%;
	}
	.result .btn-other {
		position: absolute;
	    top: 695px;
	    float: right;
	    right: 35px;
	}
	.result .btn-restart {
		position: absolute;
	    top: 705px;
	    left: 35px;
	}
	.result .step {
		position: absolute;
	    top: 2px;
	    left: 62px;
	    color: white;
	    font-size: 18px;
	}
	.result .goods-list {
		position: absolute;
		top: 477px;
		text-align: center;
		padding: 0 26px;
		width: 745px;
	}
	.result .goods {
	    width: 175px;
	    height: 175px;
	    display: inline-block;
	    text-align: center;
	    color: white;
	    font-size: 18px;
	    margin: 0 3px;
	    padding-top: 3px;
	}
}

/** 共通 **/
.goods {
	text-decoration: none;
	font-family: Verdana;
}

/** スマホ版 **/
@media screen and (max-width: 750px) {
	#typecheck {
	    width: 100%;
	    height: 100%;
	    background: url(../images/bg.jpg) center top repeat;
	    overflow: hidden;
	    padding-bottom: 50px;
	}
	.section {
		margin:0 auto;
		width: 620px;
		height: auto;
		position: relative;
		top: 50px;
	}
	.start {
		background:url(../images/sp/bg_frame1.png) center top no-repeat;
		height: 950px;
	}
	.start .btn-start {
		position: absolute;
		float: right;
		top: 730px;
	    left: 140px;
	}
	.question {
		background:url(../images/sp/bg_frame2.png) center top no-repeat;
		text-align: center;
		height: 1400px;
	}
	.question .question-num {
	    font-size: 40px;
	    padding-top: 150px;
	}
	.question .question-title {
		margin-bottom: 30px;
	}
	.question .question-answer img {
		margin-bottom: 20px;
	}
	.question .btn-restart {
		text-align: left;
	    padding-left: 30px;
	    margin-top: 100px;
	}
	.result {
	    height: 2400px;
		background:url(../images/sp/bg_frame3.png) center top no-repeat;
	}
	.result .check-result {
		text-align: center;
		padding-top: 105px;
		padding-right: 8px;
	}
	.result .advice {
	    position: absolute;
	    top: 870px;
	    left: 40px;
	}
	.result .status {
	    top: 330px;
	    left: 40px;
	    position: absolute;
	}
	.result .goods-list {
		position: absolute;
	    top: 1420px;
	    text-align: center;
	    padding: 0 26px;
	    width: 575px;
	}
	.result .goods {
	    width: 265px;
	    height: 265px;
	    display: inline-block;
	    text-align: center;
	    color: white;
	    font-size: 28px;
	    margin: 8px 3px;
	    padding-top: 3px;
	}
	.result .btn-restart {
	    top: 2120px;
	    position: absolute;
	    left: 25px;
	}
	.result .btn-other {
	    position: absolute;
	    top: 2125px;
	    left: 290px;
	}
	.result .btn-buy {
	    text-align: center;
	    margin-top: 1725px;
	}
}